export PATH="./bin:./node_modules/.bin:$PATH"
{% if deploy_tmp_dir is defined %}
export TMPDIR="{{ deploy_tmp_dir }}"
{% endif %}
{% for k, v in deploy_environment.iteritems() %}
export {{ k }}='{{ v }}'
{% endfor %}
